<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item href="#">
        <mat-icon mat-list-icon>person</mat-icon>
        <span mat-line>Author</span>
      </a>
      <a mat-list-item href="#">
        <mat-icon mat-list-icon>code</mat-icon>
        <span mat-line>Source Code</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div>
    <mat-toolbar ngClass = "mat-black">
      <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
      <span>Chat Me</span>
    </mat-toolbar>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
